@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Raleway&display=swap');

.remark-code, .remark-inline-code { 
  font-family: 'Courier Prime'; 
  font-size: 95%;
}

body {
  font-family: 'Raleway';
}

h1, h2 {
  font-family: 'Courier Prime';
  font-weight: normal;
}

h3 {
  font-weight: normal;
}
