@import url(https://fonts.googleapis.com/css2?&family=Courier+Prime&family=Fira+Code&family=Raleway:wght@400;800&display=swap);

pre, code {
  font-family: 'Courier Prime';
  font-size: 95%;
}

body {
  font-family: 'Raleway';
}

h1, h2 {
  font-family: 'Courier Prime';
  font-weight: normal;
}

h3 {
  font-weight: normal;
}
