
/* Principal text color */
body {
  color: #003f5d;
  background-color: #effff7;
}


/* links */
a, a > code, a:hover, a:focus {
  color: #057d9b;
}


img {
  max-width: 70%;
  margin: auto;
  display: block;
}


/* word wrapping in code */
pre {
  white-space: pre-wrap;

}


/* code color */
pre {
  background: #c9dd72;
  color: inherit;
  border-radius: 3px;
  border: none;
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
  color: #df4903;
}
.hljs-comment, .hljs-quote {
  color: #057d9b;
}
.hljs-string, .hljs-doctag {
  color: #17930d;
}
.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag, .hljs-attr {
  color: #df4903;
}

/* word wrapping in code chunks */
pre code {
  white-space: pre-wrap;
}


/* inline code color */
code {
  color: #df4903;
  background-color: transparent;
}

/* exercice code chunks */
.ace_scroller {
  background-color: #c9dd72;
}
.ace-tm {
  color: inherit;
}




/* Horizontal rules */
hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #003f5d, #effff7);
  margin-bottom: 50px;
}



blockquote {
  font-size: 110%;
  border-left: 5px solid #057d9b;
}


.btn-default, .btn-success, .btn-primary {
  color: #c9dd72;
  background-color: #057d9b;
  border: none;
}


.btn-default:hover, .btn-success:hover, .btn-primary:hover {
  color: #003f5d;
  background-color: #c9dd72;
}


